{% load bootstrap3 %}
{% load static %}


<nav class="navbar navbar-default">
  {% if user.is_authenticated %}

  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="row">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        <div class="" >
           <ul class="navbar-nav">
            
            <li class="nav-item">
                <a class="nav-link"
                   href="{% url 'editProfile' %}">Profile</a>
            </li>
            <br>
            <li class="nav-item">
                <a class="nav-link"
                   href="/logout/">Logout</a>
            </li>
        </ul>
          {% else %}
          <ul class="navbar-nav">


            <li class="nav-item">
                <a class="nav-link"
                   href="/accounts/login">Login</a>
            </li>
        </ul>
        {% endif %}


         </div>
          {% if user.is_authenticated %}

        <ul class="navbar-nav navbar-right" >
            <li class="nav-item">
                <a class="nav-link"
                   href="profile">User: <span class="text-uppercase">{{user}}</span></a>
            </li>
        </ul>
        {% endif %}
      </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="aw-logo">
        <a class="navbar-brand" href="/">
          <img alt="Brand" src="{% static 'img/navbar.png' %}" width=150 height=35>
        </a>
      </div>
      </div>



      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

      <ul class="nav navbar-nav navbar-right">
         <form class="ml-3 my-auto d-inline w-50 float-right"
              action="{% url 'search_results' %}"
              method="GET"
              enctype="multipart/form-data">
            <div class="input-group">
                <input name="q"
                       value="{{request.GET.q}}"
                       type="text"
                       class="form-control border-right-0"
                       placeholder="search">
                <div class="input-group-append">
                    
                </div>
            </div>
        </form>
      </ul>
    </div>
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="user-image" style="float:right; margin-right:105px;">
      
       <a href="{% url 'new-project' %}" >
        <button class="btn btn-success" style="height:70px;  margin-top: -6px;background-color:#49c5b6;border-radius:0;">SUBMIT YOUR SITE</button>
      </a>

    </div>

  </div>

    </div>
    <!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</div>

</nav>